# This is a sample of config.yml file which contains the configuration for the whole app. In order to use it you just need to create
# the copy of this file under config.yml name and update recipients in Router section. Other parameters have their default values.
Browser:
  browser_name: "chrome"
  driver_path: "C:\\{path_to_chromedriver}\\chromedriver.exe"
  binary_path: "C:\\Program Files\\Mozilla Firefox\\firefox.exe"

Brager:
  brager_url: "https://one.brager.pl/"
  user_object: "Dom"
  module_name: "Piec"
  low_fuel_level: 25
  critical_fuel_level: 15
  notification_time_interval: 4
  low_fuel_level_message: |
    Witaj {0}! Poziom paliwa w zasobniku kotła spadł do {1}%! Uzupełnij proszę pellet jak najszybciej.
    Temperatura kotła: {2}°C
    Status kotła: {3}
    BragerReportingTool v.1.5.
  critical_fuel_level_message: |
    Witaj {0}! Zostało tylko {1}% paliwa w zasobniku! Musisz natychmiast uzupełnić pellet, w przeciwnym razie dojdzie do zatrzymania pracy kotła.
    Temperatura kotła: {2}°C
    Status kotła: {3}
    BragerReportingTool v.1.5.
  full_fuel_level_message: |
    Witaj {0}! Gratuluję, wygląda na to, że poziom pelletu został niedawno uzupełniony do 100%. Nic nie musisz robić :)
    Temperatura kotła: {1}°C
    Status kotła: {2}
    BragerReportingTool v.1.5.
Router:
  router_url: "http://192.168.8.1/html/index.html"
  recipients:
    - name: "Stefan"
      phone_number: "111111111"
    - name: "Barbara"
      phone_number: "222222222"
    - name: "Operator kotła"
      phone_number: "333333333"

Mailer:
  mail_from: "brager@brager.com"
  mail_from_name: "Brager Reporting Tool"
  recipients:
    - email: "john.doe@example.com"
      display_name: "John Doe"
      hello_name: "John"
  smtp_host: "smtp.gmail.com"
  smtp_port: 587
  send_error_email_intervals:
      read_data_error: 8
      save_data_error: 1

Database:
  db_name: "ht_boiler"
  db_host: "localhost"
  db_port: 3306