# This is a sample content for secrets.py file which stores the credentials and password needed to connect to Brager service
# and local router (which is used to send SMSes with notifications). All values are base64 encrypted.
brager_email = "dXNlckBleGFtcGxlLmNvbQ=="       # encoded value of user@example.com
brager_password = "RjVHem1QaFpvRlJualhNQWk="    # encoded value of "F5GzmPhZoFRnjXMAi"
router_password = "WjM1OWlSU1ozOFlTaiE="        # encoded value of "Z359iRSZ38YSj"